<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minyou.manba"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.minyou.manba.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.minyou.manba.activity.LoginActivity" />
        <activity android:name="com.minyou.manba.activity.ForgetPasswordActivity" />
        <activity android:name="com.minyou.manba.activity.RegistActivity" />
        <activity
            android:name="com.minyou.manba.activity.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.minyou.manba.activity.SociationDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.minyou.manba.activity.PersonContentActivity"/>
        <activity android:name="com.minyou.manba.activity.DongTaiDetailActivity" />
        <activity android:name="com.minyou.manba.activity.ImageViewerActivity" />
        <activity android:name="com.minyou.manba.activity.MyWalletActivity" />
        <activity android:name="com.minyou.manba.activity.ShouCangActivity" />
        <activity android:name="com.minyou.manba.activity.GameCenterActivity" />
        <activity android:name="com.minyou.manba.activity.GameDetailActivity" />
        <activity android:name="com.minyou.manba.activity.SettingActivity" />
        <activity android:name="com.minyou.manba.activity.BindingPhoneActivity" />
        <activity android:name="com.minyou.manba.activity.FaTieActivity" />
        <activity android:name="com.minyou.manba.activity.PersonInfoActivity" />
        <activity android:name="com.minyou.manba.activity.detail.CommentDetailActivity" />
        <activity android:name="com.minyou.manba.activity.PersonGalleryActivity" />
        <activity android:name="com.minyou.manba.activity.MyDongTaiActivity" />

        <!-- qq官方申请的key的配置 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106417254" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--  微信登陆  -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.minyou.manba.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>

